button {
  padding: 12px 20px;
  margin: 6px 0;
  background-color: #bbb;
  border-radius: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  box-shadow: 0 3px #999;
  outline: none;
  transition: color 0.2s; /* disabled */
  white-space: nowrap;
}

button:hover, button:active {
  color: #333;
}

button:active {
  background-color: #999;
  box-shadow: none;
  position: relative;
  top: 3px;
}

button.default {
  background-color: #6CC17A;
  box-shadow: 0 3px #569861;
}

button.default:hover, button.default:active {
  color: #1f4132;
}

button.default:active {
  background-color: #569861;
  box-shadow: none;
  position: relative;
  top: 3px;
}

button .icon {
  margin-right: 10px;
}

button.small {
  padding: 6px 12px;
}

button.small .icon {
  margin-right: 6px;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  color: #bbb;
  background-color: #e6e6e6;
  box-shadow: 0 3px #ccc;
  cursor: default;
  transition-duration: 0.2s;
  top: 0; /* patch for weird behaviour when :active */
}
