.Bath form {
  position: absolute;
  height: calc(100% - 100px);
  overflow: hidden;
  width: 100%;
}

.Bath .sentence {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  opacity: 1;
  transition-delay: 0.2s; /* fading back in */
  transition-duration: 0.2s;
}

.Bath .sentence.fadeOut {
  opacity: 0;
  transition-delay: 1s;
}

.Bath .sentence h1 {
  font-weight: 300;
  padding: 30px;
  text-align: center;
  width: calc(100% - 60px);
}

.Bath .sentence * {
  font-size: calc(12px + 5vw)
}

.Bath .sentence input {
  border: 0;
  margin: 0 2vw;
  background:
    repeating-linear-gradient(90deg,
        transparent 0,
        transparent 0.3ch,
        #444 0.3ch,
        #444 0.8ch,
        transparent 0.8ch,
        transparent 1ch)
      0 100%/100% 1px no-repeat;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #69A6CE;
  letter-spacing: 0ch;
  outline: none;
}

.Bath .sentence input.correct {
  color: #6CC17A;
  background-color: #e1f2e4;
  caret-color: #e1f2e4;
}

.Bath .sentence input.wrong {
  color: #cd0e0e;
  background-color: #f5cece;
  caret-color: #f5cece;
}



/* FEEDBACK BOX */

.Bath .popoverWrapper {
  position: relative;
  display: inline-block;
  /*border: 1px solid black;   show 0-point for positioning */
  opacity: 0;
  color: #6CC17A;
  bottom: 0vw; /* animation */
}

.Bath .popoverWrapper.show {
  opacity: 1;
  bottom: 2vw;
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.Bath .popoverWrapper .correctionPopover {
  font-family: 'Source Code Pro', monospace;
  font-size: 4vw;
  border: 2px solid #6CC17A;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 6vw;
  padding: 10px;
  background-color: white;
}


/* triangle */
.Bath .popoverWrapper .correctionPopover::before {
  content: '';
  position: absolute;
  bottom: -2vw;
  left: 1vw; /* centered: calc(50% - 2vw) */
  border-top: 2vw solid #6CC17A;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
}

/* triangle border */
.Bath .popoverWrapper .correctionPopover::after {
  content: '';
  position: absolute;
  bottom: calc(-2vw + 3px);
  left: 1vw;
  border-top: 2vw solid white;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
}
