.Words .word {
  background-color: #D9E8F2;
  padding: 4px 10px;
  margin-right: 16px;
  margin-bottom: 16px;
  float: left;
}


.Words .chosen {
  padding: 30px;
}

.Words .chosen .chosen-words {
  margin-top: 30px;
}

.Words .chosen .word .removeButton::before {
  content: '✕';
  font-size: 14px;
  margin-top: -36px;
  margin-right: -18px;
  width: 11px;
  height: 11px;
  float: right;
  cursor: pointer;
  color: #fff;
  border-radius: 30px;
  background: #605F61;
  display: inline-block;
  line-height: 10px;
  padding: 4px;
  background-color: #DC5656;
}
