.Level {
  padding: 30px;
  background-color: #D9E8F2;
  /*background-color: #B4D2E6;*/
  transition-duration: 0.4s;
  overflow: hidden;
}

.Level ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  /*padding-left: 20px;*/
}

.Level ul li {
  margin-top: 10px;
}

.Level input[type="radio"] {
  margin-right: 10px;
  position: relative;
  top: -2px;
}

.Level ul li p {
  margin-top: 0px;
  margin-left: 25px;
}



.Words .word {
  background-color: #D9E8F2;
  padding: 4px 10px;
  margin-right: 16px;
  margin-bottom: 16px;
  float: left;
}


.Words .chosen {
  padding: 30px;
  /*background-color: #D9E8F2;*/
}

.Words .chosen .chosen-words {
  margin-top: 30px;
}

.Words .chosen .word .removeButton::before {
  content: '✕';
  font-size: 14px;
  margin-top: -36px;
  margin-right: -18px;
  width: 11px;
  height: 11px;
  float: right;
  cursor: pointer;
  color: #fff;
  border-radius: 30px;
  background: #605F61;
  display: inline-block;
  line-height: 10px;
  padding: 4px;
  background-color: #DC5656;
}

.Words .filter {
  padding-bottom: 30px;
}

.Words .add {
  padding: 30px;
}

.Words .add input[type="text"] {
  font-family: 'Source Sans Pro', sans-serif;
  color: #222;
  font-size: 20px;
  font-weight: 300;
  border: 0;
  border-bottom: 1px solid #69A6CE;
  outline: none;
}

.Words .add input[type="text"]::placeholder {
  color: #bbb;
}

.Words .add .suggested-words .word {
  cursor: pointer;
  background-color: #D9E8F2;
}
